* 
{
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
}

.navbar 
{
    width: 100vw;
    /* position: fixed; */
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 218, 255);
}

.logo
{
    font-size: 50px;
    padding: 0 10vh;
}

.navbar ul 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 5vw 0 0;
    width: 40vw;
}

.navbar li 
{
    /* background-color: red; */
    font-size: 20px;
}

.image
{
    width: 15vw;
    height: 25vw;
    
}

.introductory
{
    width: 100vw;
    height: 30vh;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    

}

.introductory h2
{
    font-size: 50px;
    margin: 5vh 5vw;
}

.education, .skills, .experience
{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 5vh 0;
}

.introductory-container
{
    width: 100vw;
    margin: 10vh 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.introductory-container .image
{
    width: 25vw;
    height: 25vw;
}

.introductory-container .text
{
    width: 40vw;
}

.blank
{
    width: 25vw;
    height: 25vw;
}


.introductory-container .text > p
{
    margin-bottom: vh;
}

.education, .experience, .skills
{
    margin: 15vh 0;
}

.skills-text > *, .education-text > *
{
    margin-bottom: 2vh;
}

.experience-text > * 
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2vh;
    width: 30vw;
}


.sContainer
{
    width: 25vw;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
}

.sContainer > *
{
    background-color: rgb(61, 0, 136);
    border-radius: 10vh;
    color: white;
    padding: 2vh;
    margin: 1vh;
}

footer 
{
    background-color: rgb(255, 218, 255);
    margin-top: 15vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.find-me
{
    display: flex;
    justify-content: center;
    margin: 2vh;
}

.email
{
    display: flex;
    justify-content: center;
    margin: 2vh;
    cursor: pointer;
}

.icons-container
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.icons-container > *
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2vw;
    height: 2vw;
    margin: 2vh;
    cursor: pointer;
}

.linkedin
{
    background-image: url(./linkedin.png);
}

.facebook
{
    background-image: url(./fb.png);
}

.instagram
{
    background-image: url(./ig.png);
}